




/*#container div {

  background-color:#fff;

    width: 600px;
    height: 1000px;
    margin-right: 100px;
    margin-left: 100px;

 background:rgba(0,0,0,.8);
 opacity:0.3;  filter:alpha(opacity=40);
 }*/
     
/*div, img, hr, ul, li, img {
  border: 1px solid red;
}*/

/*TRANSPARENT NAV BAR*/
/*change to a transluscent white?*/

   .navbar-inner{
    background:transparent !important;
    }
.navbar-inner container{
    background:transparent !important;
    }
.navbar{
    background:transparent !important;
    }
#nav-main{
    background:transparent !important;
    }
#banner{
    background:transparent !important;
    }​

/*
--------------------------------*/

.img-rounded {
  -webkit-border-radius: 7px;
     -moz-border-radius: 7px;
          border-radius: 7px;
}


div#photobox{
  float: left;
  height: 300px;


}
/*when photobox= hover
display
*/

div#caption{
  
}

div#votes{
  float: right;
}

ul {
  list-style: none;
  margin: 20px auto 0;
  width: 850px;  
  }

li {
  float: left;
  margin: 0 30px 30px 30px;
  } 

li a:hover img {
  opacity:0.3;  filter:alpha(opacity=40);
  }

a:hover,
a:focus {
  color: #005580;
  text-decoration: underline;
}

li:first-child img {
  width: 192px;
  height: 221px;
}

li img {
  background-color: white;
  padding: 7px; margin: 0;

  width: 192px;
  height: 221px;
  }
  
li a {
  display: block;
  } 

li a:hover img {
  opacity:0.3;  filter:alpha(opacity=30);
  }

li img {
  background-color: white;
  padding: 7px; margin: 0;
}

/*-------------------------------*/

body {
  width: 90%;
  margin: 0 auto;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
/*  text color*/
  color: #000;
  background-color: white;
/*  background-image: url("../img/fabric_plaid.png");*/
/*  background-image: url("../img/retina_wood.png");*/
/*  background-image: url("../img/Paper-1.png");*/
/*  background-image: url("../img/blue-beige-clouds.png");*/
/*  background-image: url("../img/Blueradialgradient.png");*/
/*  background-image: url("../img/gradientbluegreen.png");*/
  background-size:cover;
  background-repeat:repeat;}
  #content {overflow: auto;}
  #nav, #feature, #footer {margin: 1%;}
  #nav, #footer {
    background-color: #efefef;
    padding: 0.5em;
  }





