




/*#container div {

  background-color:#fff;

    width: 600px;
    height: 1000px;
    margin-right: 100px;
    margin-left: 100px;

 background:rgba(0,0,0,.8);
 opacity:0.3;  filter:alpha(opacity=40);
 }*/
     
div, img, hr, ul, li, img {
  border: 1px solid red;
}

ul#grid {
  list-style: none;
  margin: 20px auto 0;
  width: 550px;  
  }

#grid li {
  float: left;
  margin: 0 5px 10px 5px;
  } 

#grid li a:hover img {
  opacity:0.3;  filter:alpha(opacity=40);
  }

a:hover,
a:focus {
  color: #005580;
  text-decoration: underline;
}

.img-rounded {
  -webkit-border-radius: 7px;
     -moz-border-radius: 7px;
          border-radius: 7px;
}



body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
/*  background-image: url("../img/fabric_plaid.png");*/
/*  background-image: url("../img/retina_wood.png");*/
/*  background-image: url("../img/Paper-1.png");*/
  background-image: url("../img/blue-beige-clouds.png");
/*  background-image: url("../img/Blueradialgradient.png");*/
/*  background-image: url("../img/gradientbluegreen.png");*/
  background-size:cover;
  background-repeat:no-repeat;
};



