




/*#container div {

  background-color:#fff;

    width: 600px;
    height: 1000px;
    margin-right: 100px;
    margin-left: 100px;

 background:rgba(0,0,0,.8);
 opacity:0.3;  filter:alpha(opacity=40);
 }*/
     
/*div, img, hr, ul, li, img {
  border: 1px solid red;
}*/

/*TRANSPARENT NAV BAR*/
/*change to a transluscent white?*/

   .navbar-inner{
    background:transparent !important;
    }
.navbar-inner container{
    background:transparent !important;
    }
.navbar{
    background:transparent !important;
    }
#nav-main{
    background:transparent !important;
    }
#banner{
    background:transparent !important;
    }​

/*
--------------------------------*/


div#photobox{
  position: relative;

}
/*when photobox= hover
display
*/

div#caption{
  position: absolute;

}

div#votes{
  position: absolute;
  right: 10px;
}

/*
CREATE A VOTES CLASS*/

/*
.copyright_style {font-face: arial; font-size: 10px;}*/

/*.votesgrid

.votesgrid ul {
  list-style: none;
  margin: 50px auto 0;
  width: 800px;  
  }

.votesgrid li {
  float: left;
  margin: 0 30px 30px 30px;
  } 

.votesgrid li a:hover img {
  opacity:0.3;  filter:alpha(opacity=30);
  }

.votesgrid li img {
  background-color: white;
  padding: 7px; margin: 0;

  width: 192px;
  height: 221px;
  }


.votesgrid li:first-child img {
  width: 192px;
  height: 221px;
}
.votesgrid li a {
  display: block;
  }  */    

/*
---------------------------*/
.usergrid

ul {
  list-style: none;
  margin: 20px auto 0;
  width: 850px;  
  }

li {
  float: left;
  margin: 0 30px 30px 30px;
  } 

li a:hover img {
  opacity:0.3;  filter:alpha(opacity=40);
  }

a:hover,
a:focus {
  color: #005580;
  text-decoration: underline;
}

.img-rounded {
  -webkit-border-radius: 7px;
     -moz-border-radius: 7px;
          border-radius: 7px;
}

li:first-child img {
  width: 192px;
  height: 221px;
}

li img {
  background-color: white;
  padding: 7px; margin: 0;

  width: 192px;
  height: 221px;
  }

  
li a {
  display: block;
  } 

li a:hover img {
  opacity:0.3;  filter:alpha(opacity=30);
  }

li img {
  background-color: white;
  padding: 7px; margin: 0;
}

/*-------------------------------*/

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #000;
  background-image: url("../img/fabric_plaid.png");
/*  background-image: url("../img/retina_wood.png");*/
/*  background-image: url("../img/Paper-1.png");*/
/*  background-image: url("../img/blue-beige-clouds.png");*/
/*  background-image: url("../img/Blueradialgradient.png");*/
/*  background-image: url("../img/gradientbluegreen.png");*/
  background-size:cover;
  background-repeat:repeat;
};



