<ul id="votegrid">
    {% for photo in photos |sort(attribute="up_vote",reverse=True)%}
    <li>
      <div id="photobox">
        <a href="{{url_for('uploaded_file',filename=photo.filename)}}" rel="lightbox" title="{{photo.caption}}">
		      <img src="{{photo.file_location}}" alt="{{photo.caption}}" height="150" width="150" class="img-rounded"/>
        </a>
	 
	      <div class="caption">{{photo.caption}}</div>

		    <div class="votes">
				  <a id="up_{{photo.id}}" class="btn votebutton" photoid="{{photo.id}}" vote="upvote" owner="{{photo.user_id}}" href="#"><i class="icon-arrow-up"></i></a>	
					<a id="down_{{photo.id}}" class="btn votebutton" photoid="{{photo.id}}" vote="downvote" owner="{{photo.user_id}}" href="#"><i class="icon-arrow-down"></i></a>
	      </div>
		  </div>

	  </li>
	{% endfor %}
</ul>