{% extends "layout.html" %}

{% block body %}
<html>



<h2>Log in</h2>
<div id="login">
    <form action="{{url_for("login")}}" method="POST">
        <div>
            <label for="email">Email</label>
            <input type="text" name="email">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password">
        </div>
        <input type="submit">
    </form>
</div>








<h2>Sign Up</h2>
<div id="new-user">
    <form action="{{url_for("register")}}" method="POST">
        <div>
            <label for="email">Email</label>
            <input type="text" name="email">
        </div>
        <div>
                    <div>
            <label for="user_name">Username</label>
            <input type="text" name="user_name">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password">
        </div>
        <input type="submit">
    </form>
</div>
</html>

{% endblock %}