
<!DOCTYPE html>
<!-- layout.html -->


<html>
    <head>
        <title>Eye Travel</title>
        {% block head %}{% endblock %}        

        <link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css">
    </head>
    <body>
        <h1>Travel</h1>
            <a href="{{url_for('userpage')}}">USERNAME here</a>
            <a href="/map">map</a>
            <a href="/userpage">userpage</a>
            <a href="/vote">vote</a>
            <a href="/logout">logout</a>


{% block body %}{% endblock %}
        <div class="container">
            
        </div>

    </body>
</html>
