{% extends 'layout.html' %}

{% block head %}
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 100; padding: 50; }
      #map-canvas { height: 655px; width: 1000px; }
    </style>

    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDC_M1BWtN62aRUFVduggenGNTLF3pqSKk&sensor=true">
    </script>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
    <script src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobubble/src/infobubble.js"></script>
<!--     watercolor map style -->
    <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.2.1"></script>
    <script type="text/javascript">
      //create a single infoBubble that will be shared among the markers
      var infoBubble;
      
      function init() {
         var styles = [
    {
      stylers: [
        { hue: "#00ffe6" },
        { saturation: -44 }
      ]
    },{
      featureType: "road",
      elementType: "geometry",
      stylers: [
        { lightness: 100 },
        { visibility: "off" }
      ]
    },{
      featureType: "road",
      elementType: "labels",
      stylers: [
        { visibility: "off" }
      ]
    },
    {
      featureType: "water",
      stylers: [
        {color: "#7fc8ed"},
        { visibility: "on" }
      ]
    },
    {
        elementType: "labels",
            stylers: [{
            visibility: "off"
        }]
    }
    ,{
      featureType: "landscape",
      stylers: [
        {color: "#2ECC71"},
        { visibility: "on" }
      ]  
}

  ];

var layer = "watercolor";

  var styledMap = new google.maps.StyledMapType(styles,
    {name: "Styled Map"});


        var mapOptions = {
          center: new google.maps.LatLng(37.463, 122.255),
          zoom: 2,
          mapTypeId: layer,
          panControl: false,
          zoomControl: true,
          mapTypeControl: false,
          // scaleControl: true,
          streetViewControl: false,
          overviewMapControl: false,

mapTypeControlOptions: {
      mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'map_style']}

        };
        map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

        map.mapTypes.set(layer, new google.maps.StamenMapType(layer));

        {% for photo in photos %}

          var latlng{{photo.id}} = new google.maps.LatLng({{photo.latitude}}, {{photo.longitude}});
          //SKIP over photos missing latlng
          // if (latlng == null){

          // }

          var content{{photo.id}} = '<div><img src="{{photo.thumbnail}}"><p>{{photo.caption}}</p></div>';
          // create a marker
          createMarker("marker{{photo.id}}", latlng{{photo.id}}, content{{photo.id}});

        {% endfor %}

      }

  function createMarker(name, latlng, content) {
    //creates all the markers in the for loop
    var marker = new google.maps.Marker({
      position: latlng,
      map: map,
      draggable:false,
      animation: google.maps.Animation.DROP
    });
    google.maps.event.addListener(marker, "mouseover", function() {
      // if an info window exists close it, this function is called whenever mouseover a different marker
      //only called when the mouseover event happens - dynamic

// InfoBubble.prototype.setMaxWidth = function(width) {
//   this.set('maxWidth', width);
// };
// InfoBubble.prototype['setMaxWidth'] = InfoBubble.prototype.setMaxWidth;




      if (infoBubble) infoBubble.close();
      infoBubble = new InfoBubble({
        content: content, 
        // maxWidth: 300,
        // shadowStyle: 1,
        padding: 20,
        // backgroundColor: 'rgb(255, 255, 255)',
        //rounds corners:
        borderRadius: 10,
        // arrowSize: 10,
        borderWidth: 1,
        // borderColor: '#2c2c2c',
        disableAutoPan: true,
        hideCloseButton: true,
        // minWidth: 100,
        // arrowPosition: 30
        hideCloseButton: false,
        //change color of closebutton...
        hideCloseButtonColor: '#2c2c2c',
      });
      infoBubble.open(map, marker);
    });
  }

      google.maps.event.addDomListener(window, 'load', init);
      google.maps.event.trigger(map, "resize");

    </script>
 
{% endblock %}

{% block body %}

<div id="map-canvas" ></div>

{% endblock %}