{% extends 'layout.html' %}

{% block head %}
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }
    </style>

    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDC_M1BWtN62aRUFVduggenGNTLF3pqSKk&sensor=true">
    </script>

    <script type="text/javascript">



function makeInfoWindowEvent(map, infowindow, marker) {  
   return function() {  
      infowindow.open(map, marker);
   };  
} 

      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(37.463, 122.255),
          zoom: 2,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);
        //instantiate a new latlng object to pass to the marker object
        
        // create variables for LatLng and pass them in create the correct location


        
        // FOR LOOP PLACEMARKER

        // RESIZE PHOTO _______________________________
        // var offset = Math.floor(Math.random() * 3) * 16; // pick one of the three icons in the sprite

        // // Calculate desired pixel-size of the marker
        // var size = Math.floor(4*(count-1) + 8);
        // var scaleFactor = size/16;
        //______________________________

        var photo = new google.maps.MarkerImage('{{photos[1].file_location}}');
          photo.style.width = '50%'
          photo.style.height = 'auto' 
        var latitude = {{photos[1].latitude}};
        var longitude = {{photos[1].longitude}};
        var caption = "{{photos[1].caption}}";
        var myLatlng = new google.maps.LatLng(latitude,longitude);
        
        var mapOptions = {
        zoom: 11,
        center: myLatlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
        }

        var marker = new google.maps.Marker({
          position: myLatlng,
          map: map,
          content: content,
          // icon: new google.maps.MarkerImage(photo),


          icon: photo,



          // icon: new google.maps.MarkerImage(
          // file_location)

          title:"alt text?!"
        });

        //caption and photo?
            var content = caption;

            
            var image = photo;

        //content: '<IMG BORDER="0" ALIGN="Left" SRC="stagleton.jpg">'


        var infoWindow = new google.maps.InfoWindow({content: content});

        google.maps.event.addListener(marker, 'click', function() {
     
            infoWindow.open(map, marker, this);
            });

   
      }


      //PLACEMARKER END OF FOR LOOP

      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
 
{% endblock %}

{% block body %}
    <div id="map-canvas"></div>




    <!--script src="map.js"></script-->


{% endblock %}