          <script type="text/javascript">







___________________________ resizing an image?

var offset = Math.floor(Math.random() * 3) * 16; // pick one of the three icons in the sprite

// Calculate desired pixel-size of the marker
var size = Math.floor(4*(count-1) + 8);
var scaleFactor = size/16;

// Create custom marker
var marker = new google.maps.Marker({
    position: new google.maps.LatLng(lat, lng),
    icon: new google.maps.MarkerImage(
        'img/dot.png', // my 16x48 sprite with 3 circular icons
        new google.maps.Size(16*scaleFactor, 16*scaleFactor), // desired size
        new google.maps.Point(0, offset*scaleFactor), // offset within the scaled sprite
        new google.maps.Point(size/2, size/2), // anchor point is half of the desired size
        new google.maps.Size(16*scaleFactor, 48*scaleFactor) // scaled size of the entire sprite


--------------------------------------------













working__________________________ for loop reference


function makeInfoWindowEvent(map, infowindow, marker) {  
   return function() {  
      infowindow.open(map, marker);
   };  
} 

      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(37.463, 122.255),
          zoom: 2,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);
        //instantiate a new latlng object to pass to the marker object
        
        // create variables for LatLng and pass them in create the correct location

        //var file_location = '{{photos[0].file_location}}';
        
        {% for photo in photos %}
        var latitude = {{photos.latitude}};
        var longitude = {{photos.longitude}};
        var caption = "{{photos.caption}}";

        var myLatlng = new google.maps.LatLng(latitude,longitude);
        var mapOptions = {
        zoom: 11,
        center: myLatlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        // instantiate a marker object
        var marker = new google.maps.Marker({
        position: myLatlng,
        map: map,
        // alt text - 
        title:"alt text?!"
        });

        //caption and photo?
        var content = caption;
        //content: '<IMG BORDER="0" ALIGN="Left" SRC="stagleton.jpg">'


        //instantiating a new infowindow for the marker
        var infoWindow = new google.maps.InfoWindow({content: content});

        google.maps.event.addListener(marker, 'click', function() {
            infoWindow.open(map, marker);
            });

   
      }

    {% endfor %}

      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
 
{% endblock %}

{% block body %}
    <div id="map-canvas"></div>
