{% extends 'layout.html' %}
{% block body %}
<header class="jumbotron subhead">
  <div class="container">
    <h1>Your Photo Collection</h1>
    <p class="lead">Peruse your past travels.
  </p></div>
</header>
<p>
</p>
<ul>
    {% for photo in photos %}
    <li> <a href="{{url_for('uploaded_file',filename=photo.filename)}}" rel="lightbox" title="{{photo.caption}}">
		      <img src="{{photo.file_location}}" alt="{{photo.caption}}" height="150" width="150" class="img-rounded"/>
        </a>
    </li>

    {% else %}
    <li>You haven't uploaded any photos :(</li>
    {% endfor %}
    <!--     img src should technically be the thumbnail, but the thumbnail is saved in a way that renders blurry -->
</ul>
{% endblock %}





