{% extends "layout.html" %}

{% block body %}



<h2>Vote</h2>

    {% for photo in photos %}
<div="vote_results">
<ul id="votegrid">

    <li><div id="photobox">

    	<a href="{{url_for('uploaded_file',filename=photo.filename)}}" rel="lightbox" title="{{photo.caption}}"></br>
		<img src="{{photo.file_location}}" alt="{{photo.caption}}" height="150" width="150" class="img-rounded"/></a>
	<div>

	<div id="caption">
			{{photo.caption}}
		</div>

		<div id="votes">
		    <!-- <form id="upvoteform{{photo.id}}" action="{{url_for("vote")}}" method="POST">
 -->		    
				 <form action="/vote" method="post" id="upvoteform{{photo.id}}" >
	
		    	<input type="hidden" id="photoid" name="photoid" value="{{photo.id}}">
		    	<input type="hidden" id="photoowner" name="photoowner" value="{{photo.user_id}}">
		    	<input type="hidden" id="vote" name="vote" value="upvote">
				
				<button id="upvote_listen" type="button"  onclick="document.getElementById('upvoteform{{photo.id}}').submit();">
					
					<a href="#"><i class="icon-arrow-up"></i></a>
			</form>
			<form id="downvoteform{{photo.id}}" action="{{url_for("vote")}}" method="POST"> 
				
				<input type="hidden" id="photoid" name="photoid" value="{{photo.id}}">
				<input type="hidden" id="photoowner" name="photoowner" value="{{photo.user_id}}">
				<input type="hidden" id="vote" name="vote" value="downvote">
				
				<button id="downvote_listen" type="button" onclick="document.getElementById('downvoteform{{photo.id}}').submit();">
					
					<a href="#"><i class="icon-arrow-down"></i></a>
			</form>   
		</div>	
		</div>

	</li>
</ul>

<script>
    $("#downvote_listen").on("click", function(event){
      event.preventDefault();
      var theform = {
        photoid: $("#photoid").val(),
        photoowner: $("#photoowner").val(),
        vote: $("#vote").val()
      }
      $.ajax({
          type: "POST",
          url: "/vote",
          data: theform,
          success: displayResults
        });
    });
    function displayResults(html){
      $("#vote_results").html(html)
    }

        $("#upvote_listen").on("click", function(event){
      event.preventDefault();
      var theform = {
        photoid: $("#photoid").val(),
        photoowner: $("#photoowner").val(),
        vote: $("#vote").val()
      }
      $.ajax({
          type: "POST",
          url: "/vote",
          data: theform,
          success: displayResults
        });
    });
    function displayResults(html){
      $("#vote_results").html(html)
    }
    </script>

	{% endfor %}



{% endblock %}
