{% extends "layout.html" %}

{% block body %}

<html>

<h2>Vote</h2>

    {% for photo in photos %}

<ul id="votegrid">

    <li><div id="photobox">

    	<a href="{{url_for("userpage", id=photo.id)}} "></br>
		<img src="{{photo.file_location}}" alt="{{photo.caption}}" height="150" width="150" class="img-rounded"/></a>
		<div id="caption">
			{{photo.caption}}
		<div>
		
		    <form id="upvoteform{{photo.id}}" action="{{url_for("vote")}}" method="POST">
		    	<input type="hidden" name="photoid" value="{{photo.id}}">
		    	<input type="hidden" name="photoowner" value="{{photo.user_id}}">
		    	<input type="hidden" name="vote" value="upvote">
				<button type="button" onclick="document.getElementById('upvoteform{{photo.id}}').submit();">
					<a href="#"><i class="icon-arrow-up"></i></a>
			</form>
			<form id="downvoteform{{photo.id}}" action="{{url_for("vote")}}" method="POST"> 
				<input type="hidden" name="photoid" value="{{photo.id}}">
				<input type="hidden" name="photoowner" value="{{photo.user_id}}">
				<input type="hidden" name="vote" value="downvote">
				<button type="button" onclick="document.getElementById('downvoteform{{photo.id}}').submit();">
					<a href="#"><i class="icon-arrow-down"></i></a>
			</form>   
		</div>
		</div>
	</li>
</ul>

	{% endfor %}

</html>

{% endblock %}
