{% extends "layout.html" %}

{% block body %}
<html>
<h2>Vote Test</h2>



<div id="photo_vote">
<p>Photo Placeholder</p>
</div>


<div id="vote">

    <form action="{{url_for("vote")}}" method="POST">
        <button type="button" onclick="JavaScript:alert('This is an up vote alert!')">
<img src="http://upload.wikimedia.org/wikipedia/commons/1/1e/Airplane_silhouette.png" alt="UP" height="50" width="50"/>
<br />Up Vote</button>
<!-- </form>

<form action="{{url_for("vote")}}" method="POST"> -->
<button type="button" onclick="JavaScript:alert('This is a down vote alert!')">
<img src="http://www.rad-icon.com/images/couch.gif" alt="DOWN" height="50" width="50"/>
<br />Down Vote</button>



    </form>
</div>


</html>

{% endblock %}





        <div>
            <label for="email">Email</label>
            <input type="text" name="email">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password">
        </div>
        <input type="submit">



<!-- increment button -->
<!-- <form>
   <input type="text" id="number" value="0"/>
   <input type="button" onclick="incrementValue()" value="Increment Value" />
</form>

 -->

