Not working
{% extends "layout.html" %}

{% block body %}
<html>
    <title>Upload new File</title>
    <h1>Upload new File</h1>
        <form action="{{url_for('upload')}}" method='POST' enctype=multipart/form-data>


      <p><label for="file">file</label>
         <input type="file" name="file">
         </p>
         <p>
             <label for="caption">Caption</label>
                <input type="text" name="caption"></p>
    </form>
</html>

{% endblock %}





-code snippet
<form method="post" action="file-upload-1.htm" name="submit" enctype="multipart/form-data">
  <input type="file" name="fileField"><br /><br />
  <input type="submit" name="submit" value="Submit">
</form>

-another code snippet

<form method='POST' enctype='multipart/form-data' action='fup.cgi'>
File to upload: <input type=file name=upfile><br>
Notes about the file: <input type=text name=note><br>
<br>
<input type=submit value=Press> to upload the file!
</form>



WIP - not working
{% extends "layout.html" %}

{% block body %}
<html>
    <title>Upload new File</title>
    <h1>Upload new File</h1>
        <form action="{{url_for('upload')}}" method='POST' enctype=multipart/form-data>


      <p><label for="file">file</label>
         <input type="file" name="file">
         </p>
         <p>
             <label for="caption">Caption</label>
                <input type="text" name="caption"></p>
    </form>
</html>

{% endblock %}






Original

{% extends "layout.html" %}

{% block body %}
<html>
    <title>Upload new File</title>
    <h1>Upload a photo</h1>
    <form action="" method=post enctype=multipart/form-data>
      File: <input type=file name=file><br>
    Caption: <input type=text name=caption><br>
<br>
<input type=submit value=Upload> !
</form>


</html>

{% endblock %}




@app.route('/upload', methods=['GET', 'POST'])
def upload_file():
    # return render_template("upload.html")
    if request.method == 'POST':
        file = request.files['file']
        if file and allowed_file(file.filename):
            filename = secure_filename(file.filename)
            
            photo_file_path = os.path.join(app.config['UPLOAD_PHOTO_FOLDER'], filename)
            
            file.save(photo_file_path)
            

            image = Image.open(photo_file_path)
            # Photo.file_location = photo_file_path
            exif_data = get_exif_data(image)
            latlon = get_lat_lon(exif_data)
            timestamp = get_time(exif_data)

            # get_exif_data(file_path)
            print filename,photo_file_path
            #testing section
            print "before file_location"
            # breaks here!!!!!!!!!!!!!!!!!!!!!!!!!!!
            # file_location = request.form['file_location']
            print photo_file_path
            # print "before caption"
            # caption = request.form['caption']
            # print caption
            # # #add location latlon string
            # # #add time stamp

            # p = Photo(file_location=photo_file_path, caption=caption)
            
            # #end testing section

            # db_session.add(p)
            # db_session.commit()
            # db_session.refresh(p)
            # # session['user_id'] = u.id 
            
            
            return redirect(url_for('uploaded_file',
                                    filename=filename))      
    
    return render_template("upload.html") 